.logo img{
   height: 40px;
   width: 30px;
}
.name{
    display: flex;
    justify-content: center;
    gap: 5px;

}
.text p{
    font-size: 10px;
}
.menu{
    display: flex;
    justify-content:space-around;

}
ul{
    
    list-style-type: none;
}
.navbar{
    background-color: black;
    color: white;
    padding: 1px;
}
.menu li:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.bg-img{
    background-image: url('https://www.daily-sun.com/assets/news_images/2019/09/02/nstu-dailly-sun.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}
.fas{
    margin-right: 2px;
}
.news-notice{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.news img{
    height: 400px;
    width: 400px;
}
.notice1{
    display: flex;
    justify-content: space-between;    
    border: 1px solid black;
    margin-left: 5px;
    padding: 5px;

}

@media only screen and (max-width: 600px) {
    body {
      background-color: red;
    }
  }